a.button1{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid pink;
    margin: 0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Roboto', sans-serif;
    font-weight: 300;
    color: pink;
    text-align: center;
    transition: all 0.2s;
}
a.button1:hover{
    color: white;
    background-color: pink;
}

@media all and (max-width:30em){
    a.button1{
    display: block;
    margin:0.4em auto;
    }
}

html, body {
    margin: 0;
    padding: 0;
    overflow-wrap: normal;
    height: 100%;
    width: 100%;
    background: #143d52;
  }

  h1 {
    color: #FFF;
    font-family: monospace, sans-serif;
    font-weight: 100;
    font-size: 1em;
    margin: 10px;
  }

.homeMenu{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}



  .bouncy {
    animation:bouncy 5s infinite linear;
    position:relative;
    }
@keyframes bouncy {
    0%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em;}
    }

.group::after, .tabBlock-tabs::after {
  clear: both;
  content: "";
  display: table;
}

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  color: #222;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 50rem;
  padding: 2.5rem 1.25rem;
}
@media screen and (min-width: 700px) {
  body {
    font-size: 137.5%;
  }
}

p, ol, ul {
  margin-bottom: 1.25rem;
  margin-top: 0;
}

ol, ul {
  padding: 0;
  margin-left: 1.25rem;
}

.unstyledList, .tabBlock-tabs {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tabBlock {
  margin: 0 0 2.5rem;
}

.tabBlock-tab {
  background-color: rgb(255, 255, 255);
  border-color: #ecb8ec;
  border-left-style: solid;
  border-top: solid;
  border-width: 2px;
  color: #b5a8c5;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  float: none;
  padding: 0.625rem 1.25rem;
  position: relative;
  -webkit-transition: 0.1s ease-in-out;
          transition: 0.1s ease-in-out;
}
.tabBlock-tab:last-of-type {
  border-right-style: solid;
}
.tabBlock-tab::before, .tabBlock-tab::after {
  content: "";
  display: block;
  height: 4px;
  position: absolute;
  -webkit-transition: 0.1s ease-in-out;
          transition: 0.1s ease-in-out;
}
.tabBlock-tab::before {
  background-color: #b5a8c5;
  left: -2px;
  right: -2px;
  top: -2px;
}
.tabBlock-tab::after {
  background-color: transparent;
  bottom: -2px;
  left: 0;
  right: 0;
}
@media screen and (min-width: 700px) {
  .tabBlock-tab {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
.tabBlock-tab.is-active {
  position: relative;
  color: #975997;
  z-index: 1;
}
.tabBlock-tab.is-active::before {
  background-color: #975997;
}
.tabBlock-tab.is-active::after {
  background-color: #fff;
}

.tabBlock-content {
  background-color: #fff;
  border: 2px solid #d8d8d8;
  padding: 1.25rem;
}

.tabBlock-pane > :last-child {
  margin-bottom: 0;
}



img#myGif{
  position: relative;
  display: flex;
  width: 25%;
  height: 25%;
  background-size: 50% 50%;  
}

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

@font-face {
  font-family: 'fontello';
  src: url('https://css-tricks.com/examples/RoundButtons/fonts/fontello.eot');
  src: url('https://css-tricks.com/examples/RoundButtons/fonts/fontello.eot?#iefix') format('embedded-opentype'),
       url('https://css-tricks.com/examples/RoundButtons/fonts/fontello.woff') format('woff'),
       url('https://css-tricks.com/examples/RoundButtons/fonts/fontello.ttf') format('truetype'),
       url('https://css-tricks.com/examples/RoundButtons/fonts/fontello.svg#fontello') format('svg');
  font-weight: normal; font-style: normal;
}

[class*="icon-"] {
  font-family: 'fontello';
  font-style: normal;
  font-size: 3em;
}

.icon-home:after     { content: "\2302"; } 
.icon-cog:after      { content: "\2699"; } 
.icon-cw:after       { content: "\27f3"; } 
.icon-location:after { content: "\e724"; } 

* { 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing:    border-box; 
  box-sizing:         border-box; 
  margin: 0;
  padding: 0;
}

/*html {
  background: #143d52 url(https://css-tricks.com/examples/RoundButtons/images/bg.png) repeat center top;
}*/

.nav {
  list-style: none;
  text-align: center;
}

.nav li {
  position: relative;
  display: inline-block;
  margin-right: -4px;
}

/*.nav li:before {
  content: "";
  display: block;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  z-index: -1;
}*/

.nav a:link, .nav a:visited {
  display: block;
  text-decoration: none;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7); 
  color: #a7a7a7;
  margin: 36px;
  width: 95px;
  height: 95px;
  position: relative;
  text-align: center;
  line-height: 95px;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
  border: solid 1px transparent;
}

.nav a:before {
  content: "";
  display: block;
  background: rgb(190, 188, 182);
  border-top: 2px solid #ddd;
  position: absolute;
  top: -18px;
  left: -18px;
  bottom: -18px;
  right: -18px;
  z-index: -1;
  border-radius: 50%;
  box-shadow: inset 0px 8px 48px #ddd;
}

.nav a:active {
  box-shadow: 0px 3px 4px #aaa inset, 0px 2px 3px #fff;
}

.nav a:hover {
  text-decoration: none;
  color: #555;
  background: #f5f5f5;
}​